<% layout('/layouts/boilerplate') %>
<style>
  .tex-info{
    display: none;
  }
  #filters {
    display: flex;
    align-items: center;
    gap: 35px;
    margin: 20px 0 10px 0;
  }
  .filter {
    text-align: center;
    opacity: 0.7;
  }
  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  .filter p{
    font-size: 0.8rem;
  }
</style>
<body>
  <!-- <div class="my-2"> <h3>All Listing</h3></div> -->
  <div id="filters" class="">
    <div class="filter">
      <div>
        <i class="fa-solid fa-fire"></i>
      </div>
      <p>Trending</p>
    </div>
    <div class="filter">
      <div>
        <i class="fa-solid fa-bed"></i>
      </div>
      <p>Trending</p>
    </div>
    <div class="filter">
      <div>
        <i class="fa-solid fa-umbrella-beach"></i>
      </div>
      <p>Beach</p>
    </div>
    <div class="filter">
      <div>
        <i class="fa-solid fa-restroom"></i>
      </div>
      <p>Restroom</p>
    </div>
    <div class="filter">
      <div>
        <i class="fa-solid fa-mountain-city"></i>
      </div>
      <p>Mountain</p>
    </div>
    <div class="filter">
      <div>
        <i class="fa-brands fa-fort-awesome"></i>
      </div>
      <p>Castles</p>
    </div>

    <div class="filter">
      <div>
        <i class="fa-solid fa-person-swimming"></i>
      </div>
      <p>Pool</p>
    </div>

    <div class="filter">
      <div>
        <i class="fa-solid fa-campground"></i>
      </div>
      <p>Camping</p>
    </div>
    <div class="filter">
      <div>
        <i class="fa-solid fa-tent"></i>
      </div>
      <p>Tent</p>
    </div>

     <div class="filter">
      <div>
        <i class="fa-solid fa-snowflake"></i>
      </div>
      <p>Arctic</p>
    </div>
    <div class="btn btn-outline-secondary">
      <div class="form-check-reverse form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
  <label class="form-check-label" for="switchCheckDefault">Display Taxes</label>
</div>
    </div>
  </div>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let data of allData){ %>
    <a href="/listing/<%= data.id %>" class="listing-link">
      <div class="card col">
        <img
          style="height: 20rem; border-radius: 50%"
          class="card-img-top listing-img"
          alt="listing_image"
          src="<%= data.image.url %>"
        />
        <div class="card-body">
          <p class="card-text">
            <b> <%=data.title %> </b> <br />
            &#8377; <%= data.price.toLocaleString('en-IN') %> /night
            <i class="tex-info">&nbsp; &nbsp;+18% GST</i>
          </p>
          
        </div>
      </div>
      <% }%>
    </a>
  </div>

  <!-- <ul>
      <% for(let data of allData){ %>
            <li><a href=/listing/<%= data.id %>><%= data.title%></a></li>
      <% }%>
    </ul> -->
</body>
<script>
  let taxSwitch = document.getElementById("switchCheckDefault");
  taxSwitch.addEventListener("click",function(){
    let tax = document.getElementsByClassName('tex-info');
    console.log(tax)
    for(let info of tax){
      if(info.style.display != 'inline'){
        info.style.display = 'inline'
      }else{
         info.style.display = 'none'
      }
    }
  })
</script>