<% layout('/layouts/boilerplate') %>
<body>
  <h3>Edit your listing</h3>
  <form method="POST" action="/listing/<%= obj.id %>?_method=PUT" class=' needs-validation'  enctype="multipart/form-data" novalidate>
    <div class="col">
      <label for="username" class="form-label">Username</label>
      <input class='form-control' type="text" name="title" value="<%= obj.title %>" required />
      <div class="invalid-feedback">please enter a valid title</div>
      
    </div>

    <div class="col">
      <label class="form-label" for="descriptin">description</label>
      <textarea class='form-control' name="description" id="" cols="30" rows="2" required><%= obj.description %></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
    </div>

    <div class="col">
        <label for="image" class="form-label">Upload New Image</label>
        <input class='form-control' name="image" type='file' value="<%= obj.image.url %>"/>
    </div>
    <div class="col">
        <label class="form-label" for="price">Price</label>
        <input class='form-control' type="number" name="price" value="<%= obj.price %>" required/>
        <div class="invalid-feedback">Price should be valid</div>
    </div>
    <div class="col">
        <label class='form-label' for="location">Location</label>
        <input class='form-control' type="text" name="location" value="<%=obj.location%>" required/>
        <div class="invalid-feedback">Location should be valid</div>
    </div>

    <div class="col">
        <label class='form-label' for="country">Country</label>
        <input class='form-control' type="text" name="country" value="<%=obj.country%>" required/>
    </div>
    <button class="my-3 btn btn-success">Add</button>
  </form>
</body>
